body{
  margin: 0;
  background:bisque;
}

nav{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

#productWrap{
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

#productWrap .product{
  width: 48%;
  background: white;
  text-align: center;
  border-radius: 20px;
  box-sizing: border-box;
  border: 5px solid black;
  margin: auto;
  margin-bottom: 10px;
}

#productWrap .product *{
  margin: auto
}